<%- include("../includes/header.ejs", {title:"Accounts - " + result[0].account_id}); %>
    <h1>Accounts</h1>
    <ul>
        <li>Email:  <%= result[0].email %></li>
        <li>First Name: <%= result[0].first_name %></li>
        <li>Last Name: <%= result[0].last_name %></li>
    </ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>