<!DOCTYPE html>
<html>
<head>
<style>
div.container {
    width: 100%;
    border: 3px solid gray;
}

header, footer {
    padding: 2em;
    color: floralwhite;
    background-color: dimgray;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

</style>


</head>
<div class="container">

    <header>
        <h1> Build Your Brand </h1>
    </header>

<body style="margin-left: 5px">
<title><%= title %></title>


    <nav>
        <ul>
            <a href="/">Home</a>
            <br />
            <a href="/company/all">Companies - View All</a>
            <br />
            <a href="/account/all">Accounts - View All</a>
            <br />
            <a href="/address/all">Addresses - View All</a>
            <br />
            <a href="/skill/all">Skills - View All</a>
            <br />
            <a href="/resume/all">Resumes - View All</a>
        </ul>
    </nav>

</body>
</div>
</html>


