<%- include("../includes/header.ejs", {title: "Update " + resume.resume_name}); %>

<form action="/resume/update" method="POST">
    <input type="hidden" id="resume.account_id" name="resume.account_id" value="<%= resume.account_id %>">
    Resume Name: <input id="resume.resume_name" name="resume.resume_name" value="<%= resume.resume_name %>" type="text" />
    <br />

    <select id="school_id" name="school_id" multiple="multiple">
        <% for(var i=0; schools.length > i; i++ ) {
            var selected = "";

            if(schools[i].resume_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= schools[i].school_id %>" <%= selected %> ><%= schools[i].school_name%></option>
        <% } %>
    </select>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect();
        });
    </script>



    <select id="company_id" name="company_id" multiple="multiple">
        <% for(var i=0; companies.length > i; i++ ) { %>
        <option value="<%= companies[i].company_id %>"><%= companies[i].company_name%></option>
        <% } %>
    </select>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#company_id').multiselect();
        });
    </script>



    <select id="skill_id" name="skill_id" multiple="multiple">
        <% for(var i=0; skills.length > i; i++ ) { %>
        <option value="<%= skills[i].skill_id %>"><%= skills[i].skill_name%></option>
        <% } %>
    </select>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
        });
    </script>

    <input type="submit" />
</form>
<%- include("../includes/footer.ejs"); %>

</html>