<%- include("../includes/header.ejs", {title:"Resume - " + result[0].resume_name}); %>
    <h1>Resume</h1>
    <ul>
         <!--TODO: display first name  -->
        <li><b>First Name:</b> <%= result[0].first_name %></li>
        <li><b>Last Name:</b> <%= result[0].last_name %></li>
        <li><b>Resume Name:</b> <%= result[0].resume_name %></li>
    </ul>



<a href="/resume/all"><< back</a>

<%- include("../includes/footer.ejs"); %>