<%- include("../includes/header.ejs", {title:"Select User"}); %>
    <h1>Select User</h1>
    <form action="/resume/add" method="get">
        <select id="account_id" name="account_id">
            <% for(var i=0; result.length > i; i++ ) { %>
                <option value="<%= result[i].account_id %>"><%= result[i].first_name + ', ' + result[i].last_name %></option>
            <% } %>
        </select>
        <br />
        <input type="submit" />
    </form>

<!--TODO: how to pass result to resume/add-->

<%- include("../includes/footer.ejs"); %>