<%- include("./includes/header.ejs", {title: title}); %>

<article>
    <style>
        article {
            margin-left: 170px;
            border-left: 1px solid gray;
            color:grey;
            padding: 1em;
            overflow: hidden;
        }    </style>
    <p> <b> Welcome to <%= title %></b></p>


    <a href="/company/all">Companies </a>
        <br/>
    &ndash;
    <a> Displayed inside is a list of companies that have been added to this application.</a>
    <br />

    <a href="/account/all">Accounts </a>
    <br />
    &ndash;
    <a> Displayed inside is a list of accounts included in this application.</a>
    <br />

    <a href="/address/all">Addresses</a>
    <br />
    &ndash;
    <a> Displayed inside is a list of addresses used that have been added to this application.</a>
    <br />

    <a href="/skill/all">Skills</a>
    <br />
    &ndash;
    <a> Displayed inside is a list of skills that have been added to this application.</a>
    <br />

    <a href="/resume/all">Resumes</a>
    <br />
    &ndash;
    <a> Displayed inside is a list of resumes that have been added to this application.</a>
    <br />

    <br />
</article>


<%- include("./includes/footer.ejs"); %>
